* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: white;
}

.wrapper {
    padding: 50px;
    max-width: 500px;
    height: 620px;
    background-color: black;
    border-radius: 20px;
}

.converter {
    margin-top: 30px;
    width: 400px;
    display: grid;
    align-items: center;
}

.converter span{
    height: 10px; width: 10px;
}

input , select{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #111;
    color: #eee;
    text-align: center;
    font-size: 16px;
}

input{
    margin-bottom: 10px;
}

h6 {
    font-size: 18px;
    margin: 5px;
}

.button{
    display: flex;
    justify-content: center;
}

.convert{
    margin: 10px;
    padding: 10px;
    width: 80px;
    background-color: #212121;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.reset{
    margin: 10px;
    padding: 10px;
    width: 80px;
    background-color: #212121;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.reverse{
    margin: 10px;
    padding: 10px;
    width: 80px;
    background-color: #212121;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.convert:hover {
    background-color: #343434
}

.convert:active {
  background-color: #262626;
}

.reset:hover {
    background-color: #343434
}

.reset:active {
  background-color: #262626;
}

.reverse:hover {
    background-color: #343434
}

.reverse:active {
  background-color: #262626;
}

.calc{
    padding-top: 10px;
    margin: 10px;
    font-size: 18px;
}

.math{
    margin: 10px;
}

.footer{
    margin: 10px;
    padding-top: 10px;
    padding-left: 140px;
    justify-content: left;
    font-size: 10px;
}